[Desktop Entry]
Encoding=UTF-8
Categories=Application;Game;X-Red-Hat-Extra
X-Desktop-File-Install-Version=0.2
Name=Toppler
Icon=./Toppler.app/Contents/Resources/toppler/toppler/toppler.xpm
Exec=toppler
Terminal=0
Type=Application
